.fondo{
    background-color: #0d7377;
}

.m-color{
    color: white;
}

.h-color{
    color: #32e0c4;
}

.fondo-c{
    background-color: #eeeeee;
}

.allM{
    background-color: #eeeeee;
}

.espacio{
    padding-bottom: 55px;
}
